Options -MultiViews
    RewriteEngine On
    RewriteBase /

    # 1. Przekierowanie z index / index.html na czysty ukośnik /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index(\.html)? [NC]
    RewriteRule ^(.*)index(\.html)?$ / [R=301,L]

    # 2. Przekierowanie z pozostałych plików .html na wersję bez rozszerzenia
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
    RewriteRule ^ %1 [R=301,L]

    # 3. Wewnętrzne mapowanie
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*?)/?$ $1.html [L]